version: "3.9"

services:
  api:
    build: ./backend
    container_name: viyanta-api
    ports:
      - "8000:8000"
    restart: always

  ui:
    build: ./frontend
    container_name: viyanta-ui
    ports:
      - "8080:80"
    depends_on:
      - api
    restart: always
