DROP TABLE IF EXISTS reports;

CREATE TABLE reports (
  id BIGINT AUTO_INCREMENT PRIMARY KEY,
  company VARCHAR(255) NOT NULL,
  registration_number VARCHAR(255),
  form_no VARCHAR(50) NOT NULL,
  title VARCHAR(255),
  period VARCHAR(150) NOT NULL,
  currency VARCHAR(50),
  pages_used INT,
  source_pdf VARCHAR(255),
  flat_headers JSON,            -- JSON array of headers
  data_rows JSON NOT NULL,      -- JSON array of row objects (your "Rows")
  created_at TIMESTAMP DEFAULT CURRENT_TIMESTAMP,
  INDEX idx_company (company),
  INDEX idx_form (form_no),
  INDEX idx_period (period)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4;
