.env
.env.*
venv
# *.json
# *.pdf
*.parquet
*.csv
__pycache__
*.pyc
*.txt
*.log
test_*.py
debug*.py
check*.py
clean*.py
*.md
final*.py
find*.py
fix*.
verify*.py
populate*.py
create*.py

extractions/*
gemini_verified_json/*

venv310/
venv*/
.venv*/
venv12 